
.body{
    background-color: rgb(36 40 47);
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 80px;
}

.container{
    display: flex;
    flex-direction: row;
}

p{
    font-size: 20px;
}

.header{
    margin: 80px;
}

h1{
    font-size: 9em;
}